<% provide(:title, 'All users') %>
<h1 class="text-success">All users</h1>

<%# 検索フォーム %>
<%= search_form_for@search,url: users_path do |f| %>
   <div class="row justify-content-end"> <%# 右寄せにする %>
    <div class="col-sm-10 col-lg-3">
      <div class="form-group">
        <%= f.search_field :name_or_src_cont, placeholder: "名前 or 内線番号で部分一致検索", class: 'form-control text-center' %>
      </div>
    </div>
    <div class="col-sm-2 col-lg-1 align-self-end">
      <div class="form-group">
        <%= f.submit "検索", class: 'btn btn-info' %>
      </div>
    </div>
  </div>
<% end %>
<br>
<table class="table table-striped">
  <tbody >
    <thead>
      <tr class="text-primary">
        <th>名前</th>
        <th>内線番号</th>
         <th>入会順</th>
        <th>入会年月日</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.src %></td>
        <td><%= user.id %></td>
        <%# 日本時間で、登録年月日だけ、見やすく表示 %>
        <td><%= user.created_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# kaminari＆bootstrapでページネーション %>
<%= paginate @users, theme: 'bootstrap-5' %>